.app{
width: 100vw;

/* max-width: 1400px; */
background: #FFf;
}

.posts{
  width: 80vw;
  margin-left: 10vw;
  margin-top:5rem ;
  

  
}

.posts h1{
  margin-left: 10%;
}

.posts .container{
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap:20px;

  background: #eee;

  border: solid 1px #fff;
  border-radius: 5px;
  padding: 20px;


}
.container .card-post{
  border:solid 1px rgb(170, 164, 164);
  border-radius: 3px;
  background-color:#FFf;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  transition: transform 100ms;
  
}
.container .card-post:hover{
  transform: scale(1.05);
}

.container .card-post img{
  max-width: 100%;
}

.container .card-post .content{
  padding: 10px;
}